* {margin: 0;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* icones and pointetr*/
.icones {color: white;}
.pointer { cursor: pointer; }
.none { cursor: none; }
.fsize { font-size: 30px;}
/* navigation bar*/
.navbar { height: 60px;background-color: #0f1111; display: flex; align-items: center; justify-content: space-evenly;
}
/* amazon logo */
.border { border-color: 1px solid transparent; color: white;}
.border:hover {border: 1px solid white;  }
/* delivary country */
.nav-add {font-size:12px; color: white; margin-left: 8px;}
.country {font-weight:700; color: antiquewhite; margin-left: 6px;}
.loc-logo {color: white; display: flex; }
/* search bar */
.search-bar {display: flex; align-items: center;}
.item-select {border-top-left-radius: 4px;border-bottom-left-radius:4px;height: 34px; width: 50px; text-align: center;}
.search { height: 30px; width:300px; border-radius: 0px;}
.serach-icone { height: 33px; width: 30px ;background-color: gold; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-color: gold; display: flex; justify-content: center; align-items: center;}
/* acc/sign-in */
.size {font-weight: 700;}

/* panel */
.panel-all i {font-size: 20px;} 
.panel-all { font-weight: 500; margin-right: 10px;}
.panel {background-color: #222f3d; height: 40px; color: white; display: flex;align-items: center;}
.panel-opt p { font-weight: 500; display: inline; justify-content: space-evenly; margin-left: 20px}
